site_url: https://workingproof.github.io/unrest/
site_name: Unrest
site_description: Lean and mean web framework for Python / Postgres
repo_name: workingproof/unrest
repo_url: https://github.com/workingproof/unrest
plugins:
  search:
theme:
  name: material
  language: en
  palette:
    scheme: slate
    primary: teal
    accent: amber
    toggle:
      icon: material/lightbulb-outline
      name: Switch to system preference
  features:
  - content.code.annotate
  - content.code.copy
  # - content.code.select
  - content.footnote.tooltips
  - content.tabs.link
  - content.tooltips
  - navigation.footer
  - navigation.indexes
  - navigation.instant
  - navigation.instant.prefetch
  # - navigation.instant.preview
  - navigation.instant.progress
  - navigation.path
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
  - navigation.tracking
  - search.highlight
  - search.share
  - search.suggest
  - toc.follow

  icon:
    repo: fontawesome/brands/github-alt
  # logo: img/icon-white.svg
  # favicon: img/favicon.png


nav:
- Unrest: index.md
- Quick start: quickstart.md
# - features.md
# - Learn:
#   - learn/index.md
#   - python-types.md
#   - async.md
#   - environment-variables.md
#   - virtual-environments.md


markdown_extensions:
  # Python Markdown
  abbr:
  attr_list:
  footnotes:
  md_in_html:
  tables:
  toc:
    permalink: true

  # Python Markdown Extensions
  pymdownx.betterem:
    smart_enable: all
  pymdownx.caret:
  pymdownx.highlight:
    line_spans: __span
  pymdownx.inlinehilite:
  pymdownx.keys:
  pymdownx.mark:
  pymdownx.superfences:
    custom_fences:
    - name: mermaid
      class: mermaid
      format: !!python/name:pymdownx.superfences.fence_code_format
  pymdownx.tilde:

  # pymdownx blocks
  pymdownx.blocks.admonition:
    types:
    - note
    - attention
    - caution
    - danger
    - error
    - tip
    - hint
    - warning
    # Custom types
    - info
    - check
  pymdownx.blocks.details:
  pymdownx.blocks.tab:
    alternate_style: True

# extra:

  # social:
  # - icon: fontawesome/brands/github-alt
  #   link: https://github.com/fastapi/fastapi
  # - icon: fontawesome/brands/discord
  #   link: https://discord.gg/VQjSZaeJmf
  # - icon: fontawesome/brands/twitter
  #   link: https://twitter.com/fastapi
  # - icon: fontawesome/brands/linkedin
  #   link: https://www.linkedin.com/in/tiangolo
  # - icon: fontawesome/brands/dev
  #   link: https://dev.to/tiangolo
  # - icon: fontawesome/brands/medium
  #   link: https://medium.com/@tiangolo
  # - icon: fontawesome/solid/globe
  #   link: https://tiangolo.com


# hooks:
# - ../../scripts/mkdocs_hooks.py